/* Add CSS styling here to format your form */
body {
    font-family: Arial, sans-serif;
}

header {
    text-align: center;
}

.resumeForm {
    display: flex;
    justify-content: center;
}

.resumeDisplay {
    align-items: center;
}

form div div {
    display : grid;
    /* grid-template-columns : 1fr 3fr; */
}

.resumeForm {
    padding-right : 5rem;
}


label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
/* button[type="submit"] { */
button {
    background-color: #007BFF;
    color: #fff;
    width: 100%;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
/* button[type="submit"]:hover { */
button:hover {
    background-color: #0056b3;
}

.removeLast {
    background-color: rgb(209, 85, 85);
    margin-top: 1rem;
}

.removeLast:hover {
    background-color: rgb(212, 43, 43);
}

.Err {
    color : red;
}